{% extends '::base.html.twig' %}


{% block body -%}
    <h1>Datos de {{ entity.nombre }} {{ entity.apellido1 }} {{ entity.apellido2 }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido1</th>
                <td>{{ entity.apellido1 }}</td>
            </tr>
            <tr>
                <th>Apellido2</th>
                <td>{{ entity.apellido2 }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ entity.cp }}</td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td>{{ entity.localidad }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ entity.provincia }}</td>
            </tr>
            <tr>
                <th>Nif</th>
                <td>{{ entity.nif }}</td>
            </tr>
            <tr>
                <th>Fechadenacimiento</th>
                <td>{{ entity.fechadenacimiento|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Fechaprimerabono</th>
                <td>{{ entity.fechaprimerabono|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Fechaabono</th>
                <td>{{ entity.fechaabono|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Telefono1</th>
                <td>{{ entity.telefono1 }}</td>
            </tr>
            <tr>
                <th>Telefono2</th>
                <td>{{ entity.telefono2 }}</td>
            </tr>
            <tr>
                <th>Telefono3</th>
                <td>{{ entity.telefono3 }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Notas</th>
                <td>{{ entity.notas }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.precio }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ entity.iban }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ entity.descuento }}</td>
            </tr>
            <tr>
                <th>Nomailing</th>
                <td>{% if entity.noMailing == true %}No Quiere Recibir Mailing{% else %}Quiere Recibir Mailing{% endif %}</td>
            </tr>
            <tr>
                <th>Firmadoabono</th>
                <td>{% if entity.firmadoabono == true %}Si{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cliente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cliente_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
